:root {
    --color-primary: #e2f065;
}

body {
    font-family: "Courier New", Courier, monospace;
    background-image: url(./assets/wood.webp);
    background-size: 20rem;
}

main {
    color: var(--color-primary);
    background-image: url(./assets/108797.webp);
    background-size: cover;

    width: 720px;
    height: 481px;
    margin: 3rem auto;
}
